/* newsletter */

.newsletter-form {
    margin-top: 20px;
  }
  
  .newsletter-form input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .newsletter-form button {
    padding: 10px ;
    border: none;
    border-radius: 5px;
    background-color: #0d0e0c;
   
    color: white;
    cursor: pointer;
  }
  
  .newsletter-form button:hover{
    background-color: #113f01;
  }
  
  /* end of newsletter */
.design {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
